<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>
<div class="template-404 full">
<div class="page-width page-margin center">
   <h1 class="title h3 full center">Whoops!</h1>
  <p>Looks like this cupboard is bare.</p>
 
  <a href="/" class="button white-button">
    Let’s head back home
  </a>
</div>
</div>