.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width:100%;
  padding: 50px 50px 50px 55px;
  border: 0rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  background-color: #5D9D65;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
float: right;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: static;
  background-color: rgb(var(--color-background));
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__heading {
  margin: 0 0 1rem;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
  box-shadow: none;
  position: absolute;
  top: 35px;
  right: 35px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 35px;
}

.drawer__close svg {
  height:29px;
  width: 29px;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 0;
}

#CartDrawer cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

#CartDrawer .drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-base-background-1));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2,auto) / repeat(4,1fr);
  gap: 1.5rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 2rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

 .drawer__header {
	background-color: transparent;
	padding:0;
}
 .cart-drawer .cart-items thead {
	display: none;
}
 .drawer__footer {
	background-color: transparent;
	border-top: none;
	padding: 0;
   border-top: 1px solid #fff;
}
#CartDrawer .cart-item__name {
	color: #fff;
}
#CartDrawer .cart-drawer__form {
	color: #fff;
}
.cart-drawer.cart-drawer .cart-item__price-wrapper > :only-child {	
	color: #fff;
}
#CartDrawer .drawer__heading {
	margin: 0 0 0px;
	font-size: 24px;
	color: #fff;
  display: flex;
align-items: center;
}
#drawer_bubble {
	background: transparent;
	color: #fff;
	font-size: 32px;
  margin-left: 8px;
}
#drawer_bubble::after {
	content: ")";
}
#drawer_bubble::before {
	content: "(";
}
#CartDrawer .drawer__header {
	margin: 0 0 40px;
}
#CartDrawer.cart-drawer .cart-item {
	grid-template: inherit;
	gap: inherit;
	margin-bottom: 0;
 display: flex;
flex-wrap: wrap;
align-items: center;
}
#CartDrawer-CartItems td.cart-item__media {
	width: 21%;
  grid-row: inherit;
  float: left;
  padding: 0;
}
#CartDrawer-CartItems td.cart-item__details {
	width: 44%;
  grid-row: inherit;
  float: left;
  padding: 0 30px 0 35px;
}
#CartDrawer-CartItems .cart-item__totals.right {
	width: 15%;
  grid-row: inherit;
  float: left;
  padding: 0;
}
#CartDrawer-CartItems .cart-item__quantity{
  width: 20%;
  grid-row: inherit;
  float: left;
  padding: 0;
}
#CartDrawer.cart-drawer .cart-item__image {
	width: 100%;
	max-width: 201px;
  float:left;
}
#CartDrawer .cart-item__name:hover {
	text-decoration: none;
  color:#fff;
}
#CartDrawer .cart-item__name.h4{
	font-size: 18px;
  line-height: 25px;
}
#CartDrawer .cart__empty-text {
	color: #fff;
  font-size: 26px;
  line-height: 35px;
}
#CartDrawer-CartItems .product-option {
	display: none;
}
#CartDrawer-CartItems .cart-item cart-remove-button {
	
}
#CartDrawer .quantity::before,
#CartDrawer .quantity::after{
  display: none;
}
#CartDrawer .quantity.cart-quantity .quantity__button {
	width: 22px;
	flex-shrink: 0;
	font-size: 16px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100%;
	line-height: 22px;
	padding: 0;
	opacity: 1 !important;
	height: 22px;
}
#CartDrawer .quantity.cart-quantity .quantity__input {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	opacity: 1;
	text-align: center;
	background-color: transparent;
	padding: 0;
	width: 53px;
	height: 40px;
	border: 1px solid #fff;
	font-family: DIN;
	box-shadow: none !important;
	outline: none !important;
	float: left;
	flex-grow: inherit;
	margin: 0 9px;
}
#CartDrawer .quantity.cart-quantity{	
	align-items: center;
}
#CartDrawer-CartItems .price.price--end {
	font-size: 18px;
}
#CartDrawer .cart-item__name.h4 span {
	float: left;
	width: 100%;
	clear: both;
}
#CartDrawer.cart-drawer .cart-item {
	margin-bottom: 40px;
	border-bottom: 0px solid;
	padding-bottom: 0px;
}
#CartDrawer .tax-note.caption-large.rte {
	text-align: right;
	font-size: 100%;
	letter-spacing: normal;
	color: #fff;
	margin: 10px 0 35px;
}
#CartDrawer .tax-note.caption-large.rte a{
	color: #fff;
}
#CartDrawer .totals__subtotal-value {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}
#CartDrawer .totals__subtotal.h3 {
	font-size: 18px;
	color: #fff;
}
#CartDrawer-Checkout {
	text-decoration: underline;
	letter-spacing: normal;
	color: #5d9d65;
	font-size: 18px;
	font-weight: bold;
  height: 55px;
  border:2px solid #fff;
  width: 100%;
max-width: none;
}
#CartDrawer-Checkout:hover{
  border:2px solid #fff;
  color: #fff;
  text-decoration: none;
}
#CartDrawer.cart-drawer .cart-item:last-child {
	margin-bottom: 20px;
  border-bottom: none;
}
#CartDrawer .cart-drawer__footer {
	padding-top: 45px;
}
#CartDrawer cart-drawer-items{
  -ms-overflow-style: none;
	scrollbar-width: none;
}
cart-drawer-items::-webkit-scrollbar {
  display: none;
}
#CartDrawer .drawer__inner-empty {
	padding: 75px;
	background-color: transparent;
	align-items: center;
}
#upproduct_box {
	float: left;
	width: 100%;
  padding: 35px 0 15px;
  border-top:1px solid #fff;
}
.sale_note.h3 {
	float: left;
	width: 100%;
	color: #fff;
	margin: 0 0 10px;
}
.ajaxUpsellItem.cart-item {
	float: left;
	width: 33.333%;
}
.cart-content.product-form form{
  display:none;
}
#CartDrawer {
	width: 50%;
}
.upproduct_boxrow{

  margin:0 -38px;
}
#upproduct_box .grid__item {
	float: left;
	width: 33.333%;
  padding:0 38px;
  position:relative;
}
.mediabox {
	float: left;
	width: 100%;
}
.mediabox img {
	float: left;
	width: 100%;
}
.mediabox a {
	float: left;
	width: 100%;
}
#upproduct_box .full.pro_title {
	padding: 20px 0 0px;
	font-size: 18px;
	color: #fff;
}
#upproduct_box .full.pro_title span {
    font-size: 100%;
    width: 100%;
    float: left;
    margin-top: -5px;
}
#upproduct_box .quick-add {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
  z-index:2;
  display:none;
}
#CartDrawer cart-drawer-items {
	overflow: hidden;
	max-height: none;
	height: auto;
	min-height: auto;
  display: table;
}
#upproduct_box .quick-add.no-js-hidden {

}
.drawer__inner {
	max-height: 100vh;
  min-height: 100vh;
height: auto;
overflow-y: scroll;
}
      #CartDrawer cart-drawer-items.is-empty  + div + .drawer__footer {
	display: none;
}
#upproduct_box .quick-add__submit {
	max-width: none;
	white-space: nowrap;
    opacity:0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.drawer_heading.full {
	font-size: 18px;
	margin: 0 0 35px;
	color: #fff;
}
.drawer__inner {
	overflow-x: hidden;
}
#upproduct_box .full.pro_title a {
	font-size: inherit;
	color: inherit;
}
div.cart-item__error {
	margin-top: 0;
}
#CartDrawer-Form .cart-item cart-remove-button {
	margin: 0;
	float: left;
	padding: 0;
	margin: 0;
	height: auto;
	min-height: inherit;
	max-height: inherit;
}
.button--tertiary.remove_btn {
	background: transparent;
	height: auto;
	min-height: inherit;
	padding: 0;
	border: none;
	width: auto;
	min-width: inherit;
	text-decoration: underline;
	color: #fff;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
  cursor:pointer;
}
.button--tertiary.remove_btn:hover{
  text-decoration: none;
	color: #fff;
}