#shopify-section-template--15219038847037__main {
	display: none;
}
.faq-section > h3 {
	padding-top: 60px;
	padding-bottom: 65px;
}
.tabcontent {
	border: 0px solid #5d9d65;
	margin-bottom: -1px;
}
.faq-main-wrap.page-width {
	padding-bottom:175px;
	display: table;
}
.tab-h2 {
	float: left;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	width: 27%;
  padding:38px 25px 25px;
}
.accordion {
  display: flex;
  flex-wrap: wrap;
  border-left: 0px solid #5d9d65;
}
.faq_box.full{
  padding:34px 35px 34px 45px;
  border-bottom: 0px solid #5d9d65;
}
.faq_box.full:last-child {
	border-bottom: none;
}
.acclink.full {
	padding: 0;
	margin: 0;
	font-size: 18px;	
  position: relative;
  cursor: pointer;
  line-height: 35px;
  text-transform:inherit;
}
.acclink::after{
  position:absolute;
  right:0;
  top:50%;
  transform:translateY(-50%);
  content:'+';
}
 .acclink.active::after{
  content:'-';
}
.faq_box .panel.submenu {
    display: none;
    padding: 15px 0 10px;
    width: 100%;
    max-width:620px;
}
.faq_box p {
	margin: 0 0 25px;
}
.faq_box p:last-child{
  margin: 0;
}
.faq_box ul {
	margin: 0 0 25px;
    padding-left:25px;
}
.faq_box ul:last-child{
  margin: 0;
}
.faq_box p a{
  text-decoration:underline;
}
.faq_box p a:hover{
  text-decoration:none;
  color: #000;
}
.panel_table table td {
	line-height: normal;
  border-color: #5d9d65;
}
.panel_table table{
	margin: 0 0 25px;
  border:1px solid #5d9d65;
  box-shadow: none;
}
.panel_table table:not([class]) td, 
.panel_table table:not([class]) th {
	padding: 10px 15px 6px;
	border: 1px solid #fff;
  line-height: normal;
   font-size: 15px;
  font-weight: bold;
   text-transform:uppercase;
  border-bottom-color: transparent;
  
}
.panel_table table:not([class]) {	
	font-size: 15px;
  border: 1px solid #fff;
  box-shadow: none;  
  color: #fff;
}
.panel_table.full {
	padding: 20px;
  background-color: #5d9d65;
}
.panel_table tr:first-child td:first-child{
  border-color:transparent;
  border-right-color: #fff;
  
}
.panel_table tr:nth-child(2) td:first-child{
  border-color:transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.panel_table tr td:first-child{
  text-align:right;    
  font-size: 10.8px;
  font-weight: bold;
  text-transform:uppercase;
  padding: 4px 10px;
}

.panel_table tr:first-child td:first-child {
  width: 30%;
}
.panel_table table tr:last-child td {
	border-bottom: 1px solid #fff;
  padding-bottom: 17px;
  vertical-align: top;
}
.panel_table tr:first-child td:nth-child(2) {
  width: 37%;
  border-bottom: 1px solid #fff;
  font-size: 10.5px;
  vertical-align: middle;
}
.panel_table tr:first-child td:nth-child(3) {
  width: 33%;
  border-bottom: 1px solid #fff;
  font-size: 10.5px;
  vertical-align: middle;
}
.panel_table tr:nth-child(2) td:nth-child(2) {
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}
.panel_table tr:nth-child(2) td:nth-child(3) {
  border-bottom: 1px solid #fff;
  
}
.panel_table table tr:last-child td em{
  float:left;
  width:100%;
  font-weight:normal;
  font-style:normal;
  text-transform: none;
  padding-top: 3px;
}


.hide_border {
	height: 0px;
	overflow: hidden;
	float: left;
}
.hide_border td {
	border: none !important;
}
.panel_table table:not([class]) {
	border: 0px solid #fff;
  table-layout: inherit;
}
.panel_table tr:nth-child(2) td:first-child {
	width: 25%;
}
.panel_table tr:nth-child(2) td:nth-child(2) {
	width: 45%;
}
.panel_table tr:nth-child(2) td:nth-child(3) {
	width: 30%;
}