@font-face {
    font-family: 'DIN';
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN.eot');
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN.eot?#iefix') format('embedded-opentype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN.woff2') format('woff2'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN.woff') format('woff'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN.ttf') format('truetype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN.svg#DIN') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-Medium.eot');
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-Medium.eot?#iefix') format('embedded-opentype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-Medium.woff2') format('woff2'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-Medium.woff') format('woff'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-Medium.ttf') format('truetype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-Medium.svg#DIN-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DINBold.eot');
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DINBold.eot?#iefix') format('embedded-opentype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DINBold.woff2') format('woff2'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DINBold.woff') format('woff'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DINBold.ttf') format('truetype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DINBold.svg#DINBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-BoldItalic.eot');
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-BoldItalic.woff2') format('woff2'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-BoldItalic.woff') format('woff'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-BoldItalic.ttf') format('truetype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-BoldItalic.svg#DIN-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'DIN-RegularItalic';
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-RegularItalic.eot');
    src: url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-RegularItalic.woff2') format('woff2'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-RegularItalic.woff') format('woff'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-RegularItalic.ttf') format('truetype'),
        url('//cdn.shopify.com/s/files/1/0016/2483/4109/files/DIN-RegularItalic.svg#DIN-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
body{
  font-family: 'DIN';
   font-weight: normal;
  font-size:18px;
  line-height: 28px;
  letter-spacing:normal;
  color: #000 !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: 'DIN'!important;
   font-weight: bold!important;
}

#search-main {
	float: left;
	width: 100%;
}
#results-main {
	float: left;
	width: 100%;
  padding: 0px !important;
  border: 2px solid #5d9d65!important;
  border-left:0;
}
small, .small {
	font-size: 80%;
}
#col-map {
	position: relative;
	float: left;
	width: 100%;
	flex: 0 0 auto;
	padding: 30px;
  border-left: 0px solid #5d9d65 !important;
}
#col-sidebar[style="display: block;"] + #col-map {
	width: 63%;
  border-left: 2px solid #5d9d65 !important;
}

#col-sidebar {
	float: left;
	width: 37%;
	max-width: none;
	flex: 0 0 auto;
}

#stores-results .list-group-item {
	padding: 45px 17px 45px 119px;
	border: none!important;
	border-bottom: 2px solid #5d9d65 !important;
}
h5, .h5{  
  font-size:18px;  
  line-height: 28px;  
color: #000 !important;
}
.gm-style{
  font-family: 'DIN';
   font-weight: normal;
  font-size:18px;
  line-height: 28px;
  letter-spacing:normal;
  color:#000;
}
p{
  font-family: 'DIN';
   font-weight: normal;
  font-size:18px;
  line-height: 28px;
  letter-spacing:normal;
  color:#000;
}
#stores .list-group.list-group-flush {
	padding: 40px 40px 40px;
	border-bottom: 2px solid #5d9d65;
  display: none!important;
}

#stores #stores-results{
  display: flex!important;
  padding: 0!important;
}
#stores .col-auto:first-child {
	display: none!important;
}
#address-sidebar {
	border: 2px solid #000;
  font-family: 'DIN';
   font-weight: normal;
  font-size:16px;
  color: #000;
  min-height: 58px;
}
#address-sidebar::placeholder{
  opacity:1!important;
  font-family: 'DIN';
   font-weight: normal;
  font-size:16px;  
  color:#000!important;
}
#stores .row.g-0 {
	padding: 40px;
	border-bottom: 2px solid #5d9d65;
}
#find_now_button_small {
	position: absolute;
	right: 40px;
	top: 40px;
  padding:0;
  width: 50px;
height: 58px;
}
.flex-grow-1 + div {
	display: none !important;
}
.list-group-item-action:hover, .list-group-item-action:focus {
	color: #000!important;
	background-color: transparent!important;
}
#col-sidebar #stores-results, #col-sidebar #store-result {
	height: calc(100% - 100px);
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#col-sidebar #stores-results::-webkit-scrollbar,
#col-sidebar #store-result::-webkit-scrollbar{
  display: none;
}
#stores-results .list-group-item {
	border-bottom: 2px solid #5d9d65 !important;
}
#stores-results b {
	font-weight: normal;
}
h3#store-name {
  font-size: 18px !important;
color: #000 !important;
}
a..flex-grow-1 {
  color: #000 !important;
}
#store-result svg path{
  fill: #000 !important;
}
#store-products .col-lg-4 {
	width: 50%;
}
.btn-block{
  font-size: 16px;
  color: #000 !important;
  border-color: #000 !important;
  font-family: 'DIN';
  font-weight:bold;
}
.gm-style .gm-style-iw {
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}
#store-products h6 {
	font-size: 16px;
	font-weight: normal !important;
  padding-top: 10px;
}
.btn.btn-link {
	color: #000 !important;
  font-size: 16px!important;
}
.p-4 {
	padding: 10px !important;
}
p.my-1 {
	font-size: 16px!important;
}
#find_now_button {
	background: #5d9d65;
	height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#search_nearby_button{
  background: #5d9d65;
	height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#address-main {
	height: 50px;
	border: 2px solid #000;
	font-size: 18px;
  font-family: 'DIN';
  font-weight:normal;
}
#address-main::placeholder{
  opacity:1!important;
  font-size: 16px!important;
  color:#000!important;
}
#results-main > .row > .col {
	height: 88vh;
}
.alert-secondary {
	color: #000;
	font-size: 16px;
	line-height: normal;
}